header{
    background-color: #008000;
    text-align: center;
    height: 60px;
}

header h1{
padding-top: 10px;
}

*{
    margin: 0;
    padding: 0;
}

body{
    color: rgb(255, 255, 255);
}

h1{
    text-align: center;
}

.elemento{
    position: relative;
    width: 70%;
    height: 450px;
    background-color: #008000;
    border: 1px solid #008000;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 5000px;
    background-color: #b6b6b6;
}

h1{
    font-style: oblique;
}

img{
    margin: 2% 4% 4% 5%;
    width: 30%;
    height: 75%;
}

h3{
    display: inline-block;
    position: absolute;
    right: 48%;
    top: 15%;
}

.p2{
    display: inline-block;
    position: absolute;
    right: 48%;
    top: 20%;
}

.p3{
    display: inline-block;
    position: absolute;
    right: 48%;
    top: 25%;
}