header{
    background-color: blue;
    text-align: center;
    background-image: url(imagemtopo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90px;
}

*{
    margin: 0;
    padding: 0;
}
body{
    color: rgb(255, 0, 0);
    background-color: rgb(255, 65, 65);
}

.elemento{
    text-align: center;
    width: 1000px;
    height: 550px;
    background-color: rgb(130, 255, 157);
    border: 1px solid black;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 4850px;
    background-color: aqua;
}
h1{
 font-style: oblique;
}